*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    --body-background-color: rgb(224, 224, 224);
    --box-container-color: rgb(248, 248, 248);
    --text-container-color: rgb(247, 214, 131);
    --tool-cubes-color: rgb(255, 255, 255);
    --tool-border-color: rgb(152, 131, 247);
    --d-body-background-color: #15141d;
    --d-box-container-color: #15141d;
    --d-tool-cubes-color: #0f0c29;
    --hor-partition-image: linear-gradient(90deg,#fa6d0f,aqua, #fff, rgba(236, 29, 255, 0.945));
    --ver-partition-image: linear-gradient(180deg,#fa6d0f,aqua, #fff, rgba(236, 29, 255, 0.945));
    --header-gradient: linear-gradient(180deg,#15141d,rgb(52, 48, 97), #15141d);
    --text-border-gradient: linear-gradient(120deg,#fa6d0f, #fff, rgba(236, 29, 255, 0.945));
    --small-text-border-gradient: linear-gradient(170deg,#fa6d0f, #fff, rgba(236, 29, 255, 0.945));
    --main-box-shadow: 1px 1px 10px inset rgb(52, 48, 97);
    --tool-cubes-shadow: 4px 4px 18px inset rgba(104, 104, 109, 0.719),-3px -3px 18px inset rgb(122, 122, 240);
}

body{
    /* background-color: rgb(224, 224, 224); */
    background-color: var(--d-body-background-color);
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h2, h3, h4, h5{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%;
    color: white;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: var(--d-body-background-color);
}
.header-container{
    width: 100%;
    height: 100px;    
    background-image: var(--header-gradient);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.header-section{
    width: calc(100% / 3);
    display: flex;
    justify-content: center;
}
.left-header-section{
    font-size: 1.4em;
}
.left-header-section h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: transparent;
    background-image: var(--text-border-gradient);
    -webkit-background-clip: text;
    background-clip: text;
}
.header-container img{
    width: 70px;
}
.right-header-section img{
    width: 50px;
}
.stripe{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    box-shadow: var(--main-box-shadow);
}
.nav-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stripe a{
    background-color: var(--d-body-background-color);
    /* background-color: red; */
    padding: 8px 16px;
    margin: 0 1.8vw;
    font-size: 1.2em;
    position: relative;
}
.stripe a::before{
    content: ' ';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 3px;
    height: 3px;
    z-index: -1;
    transition: width 800ms linear, height 400ms linear;
}
.stripe a::after{
    content: ' ';
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 3px;
    height: 3px;
    z-index: -1;
    transition: width 800ms linear, height 400ms linear;
}
.stripe a:hover::before{
    background-image: var(--text-border-gradient);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
}
.stripe a:hover::after{
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background-image: var(--text-border-gradient);
}

.footer-container{
    width: 100%;
    padding: 0.3em 1.5em 1.5em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-container a{
    display: block;
    padding: 5px;
}
.footer-container a:hover{
    text-decoration: underline 2px solid;
}
.left-footer-section{
    width: 30%;
}
.right-footer-section{
    margin: 0 auto;
    /* background-color: #fa6d0f; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank{
    width: 10%;
}
.right-footer-section img{
    width: 300px;
}
.about-container{
    line-height: 1.2;
    color: rgb(158, 158, 158);
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.about-container a{
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
.about-container img{
    border-radius: 100%;
    width: 180px;
}
.about-container em{
font-weight: bold;
padding: 2pc 0;
}
.about-section{
    margin-top: 5px;
    padding: 10px 0;
    /* background: aqua; */
    border-radius: 25%;
}
.about-section p{
    margin: auto;
    width: 80%;
}

.about-container .about-section{
    padding: 5px 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: var(--main-box-shadow); 
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 255, 0.774); 
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: aqua; 
  }