/* font */



main{
    position: relative;
    top: 162px;
}
.main-container{
    width: 100%;
}
.box-container{
    transition: all 400ms linear;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    /* background-color: var(--box-container-color); */
    background-color: var(--d-body-background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 7px 0 0 0;
    box-shadow: var(--main-box-shadow);

}
.info-section{
    width: 440px;
    height: 100%;
    padding: 12px 25px;
    margin: 0 10px;
    /* background-color: var(--text-container-color); */
    border-radius: 0 25px;
}
.text-container{
    height: 100%;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}
.text-container h2{
    text-align: center;
    font-size: 2em;
    color: transparent;
    /* background-image: linear-gradient(#333333,#dd1818, #6a9113,#141517); */
    /* background-image: linear-gradient(135deg, #0f0c29,#8983cf,#24243e); */
    background-image: var(--text-border-gradient);
    font-family: 'georgia';
    background-clip: text;
    -webkit-background-clip: text;
}
.text-container p{
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 200px;
    padding: 2em 0;
    text-align: center;
}
.tool-section{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    /* background-color: aquamarine; */
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: flex-start;
}
.tool-cubes{
    width: 150px;
    height: 150Px;
    /* background-color: var(--tool-cubes-color); */
    background-color: #0f0c29;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* border: 3px solid rgb(214, 212, 212); */
    border: 3px solid var(--tool-border-color);
    box-shadow: var(--tool-cubes-shadow);
    /* border-image: linear-gradient(135deg,#ff5500, #fff, rgb(162, 4, 253)) 10 stretch; */
    border-radius: 0px 25px;
}
.about-tool{
    width: 90%;
    height: 20px;
}
.about-tool img{
    float: right;
    width: 20px;
    border-radius: 100%;
}
.tool-link{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 100%;
    border: 5px solid transparent;
}
.tool-link:hover{
    border: 3px solid transparent;
}
.tool-link img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /* background-color: white; */
}
.tool-title{
    width: 90%;
    height: 20px;
}
.tool-title p{
    color: transparent;
    text-align: center;
    font-family: -apple-system,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    /* background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.986), rgb(61, 61, 61), rgb(149, 133, 253)); */
    background-image: linear-gradient(270deg, rgb(255, 255, 255), rgb(246, 246, 246));
    -webkit-background-clip: text;
    background-clip: text;
}
/* .tool-cubes{
    width: 150px;
    height: 150Px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 3px solid rgb(152, 131, 247);
    box-shadow: 5px 5px 18px inset rgb(104, 104, 109),-3px -3px 18px inset rgb(122, 122, 240) ;
    border-image: linear-gradient(135deg,#ff5500, #fff, rgb(162, 4, 253)) 10 stretch;
    border-radius: 0px 25px;
}
.about-tool{
    width: 90%;
    height: 20px;
}
.about-tool img{
    float: right;
    width: 20px;
}
.tool-link{
    width: 90px;
    height: 90px;
    padding: 5px;
    border-radius: 100%;
    border: 5px solid transparent;
}
.tool-link:hover{
    border: none;
}
.tool-link img{
    width: 100%;
    height: 100%;

}
.tool-title{
    width: 90%;
    height: 20px;
}
.tool-title p{
    text-align: center;
    font-family: -apple-system,'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
} */

@media screen and (max-width: 900px){
    .tool-section{
        width: auto;
    }
}
